<div ng-controller="vascodemo" class="main">
	<div class="logo"></div>
	<label class="select-wrapper">
		<select name="mySelect" id="mySelect" 
      		ng-options="option.user_name for option in listaUsuarios track by option.user_name"
      		ng-model="data.selectedOption">
      	</select>
	</label>
	<label>
		<p>Challenge:</p>
		<h2> {{ challenge }} </h2>
	</label>
	<button ng-click="genChal()" class="btn-blue">Generar challenge</button>
	<label>
		<p>Verify pwd:</p>
		<h2> {{ challenge }} </h2>
	</label>
	<button ng-click="genChal()" class="btn-blue">Generar challenge</button>
	<label>
		<p>Verify pwd:</p>
		<h2> {{ challenge }} </h2>
	</label>
</div>