<div ng-controller="vascodemo" class="main">
	<div class="logo"></div>
	<label class="select-wrapper">
		<select name="mySelect" id="mySelect" 
      		ng-options="option.user_name for option in listaUsuarios track by option.user_name"
      		ng-model="data.selectedOption">
      	</select>
	</label>
	<button ng-click="genChal()" class="btn-blue">Generar challenge</button>
	<label>
		<p>Challenge generado: </p>
		<h2> {{ challenge }} </h2>
	</label>
	<button ng-click="verifyPwd(data.selectedOption.serial_number, data.selectedOption.seq_num, 'APP 2 CR', challenge)" class="btn-blue">Verificar OTP</button>
	<label>
		<p>OTP:  </p>
		<input type="text" ng-model="pwd"/>
		<h2> {{verify}} </h2>
	</label>
</div>

